---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<main class="app-container pt-36">
		<h1 class="text-6xl pb-2 font-bold">Sobre mim</h1>
	</main>
	<section class="app-container py-12 mb-8">
		<div
			class="prose prose-neutral prose-lg md:prose-xl dark:prose-invert prose-img:rounded-xl prose-figure:text-center prose-img:mx-auto"
		>
			<p>
				Luciano Tigre é apresentador do Discovery Channel e da nova temporada de
				Desafio em Dose Dupla Brasil técnicas de sobrevivência Piloto de avião,
				Professor e instrutor de sobrevivência na Selva para os Cursos de
				Comissário de bordo e Pilotos de aeronaves em Curitiba - Drakon escola
				de aviação Civil e Aeroporto do Bacacheri. Também professor de
				meteorologia aeronáutica para o curso de Pilotos de avião e helicóptero.
			</p>
			<p>
				Ex-militar, piloto de avião (instrutor), especialista em bushcraft –
				termo em inglês que designa o conjunto de técnicas de sobrevivência na
				natureza selvagem (Selva, mar, deserto e gelo) – e privilegia técnicas
				primitivas aprendidas com indígenas.
			</p>
			<p>
				A conexão de Tigre com a natureza é sagrada, herdada de seu avô e
				aprofundada durante seus anos na Amazônia, convivendo com as etnias
				Karipuna, Kaxuyana e Kalinã. Sua jornada, portanto, é uma homenagem à
				ancestralidade, uma busca por conhecimentos perdidos.
			</p>
			<p>
				Foi quando Tigre serviu no Exército é que estreitou os laços com índios
				da Amazônia, ou seja, ele mergulhou de vez na cultura indígena
				brasileira. “Ali eu entendi a profunda leitura da natureza, como fluir
				com ela. Aprendi sobre plantas e todos os animais. Peixes, pedras e
				madeiras, fibras vegetais poderosas para cordas e a farmácia da
				floresta, dominada há milênios pelos índios e mateiros. Foi uma grande
				honra após alguns anos conquistar a confiança dos povos locais,
				atestando que eu não era apenas um curioso, mas sim alguém que desejava
				cuidar e propagar os conhecimentos. Leva-se tempo para ganhar ali o
				direito de aprender”, explica o sobrevivencialista.
			</p>
		</div>
	</section>
</BaseLayout>
